---
layout: default
current: author
title: Author Page
cover: false
class: 'author-template'
navigation: True
label: Author
logo: 'assets/images/ghost.png'
---
<!-- < default}} -->
<!-- The tag above means - insert everything in this file into the {body} of the default.hbs template -->

<!-- #author  -->
<!-- Everything inside the #author tags pulls data from the author -->
{% for author in site.data.authors %}
    {% if author[1].username == page.author %}
    <header class="site-header outer {% if author[1].cover or page.cover %}" style="background-image: url({{ site.baseurl }}{% if author[1].cover %}{{ author[1].cover }}{% elsif page.cover %}{{ page.cover }}{% endif %}) {% else %}no-cover{% endif %}">
        <div class="inner">
            {% include site-nav.html %}
            <div class="site-header-content">
                {% if author[1].picture %}
                    <img class="author-profile-image" src="{{ site.baseurl }}{{ author[1].picture }}" alt="{{ page.author }}" />
                {% endif %}
                <h1 class="site-title">{{ author[1].name }}</h1>
                {% if author[1].bio %}
                    <h2 class="author-bio">{{ author[1].bio }}</h2>
                {% endif %}
                <div class="author-meta">
                    {% if author[1].location %}
                        <div class="author-location">{{ author[1].location }} <span class="bull">&bull;</span></div>
                    {% endif %}
                    <div class="author-stats">
                        {% if paginator.total_posts == 0 %}No posts{% elsif paginator.total_posts == 1 %}1 post{% else %}{{ paginator.total_posts }} posts{% endif %} <span class="bull">&bull;</span>
                    </div>
                    {% if author[1].url %}
                        <a class="social-link social-link-wb" href="{{ author[1].url_full }}" target="_blank" rel="noopener">{% include website.html %}</a>
                    {% endif %}
                    {% if author[1].twitter %}
                        <a class="social-link social-link-tw" href="https://twitter.com/{{ author[1].twitter }}" target="_blank" rel="noopener">{% include twitter.html %}</a>
                    {% endif %}
                    <!-- <a class="social-link social-link-rss" href="https://feedly.com/i/subscription/feed/{{ site.url }}{{ site.baseurl }}author/{{ page.author }}/feed.xml" target="_blank" rel="noopener">{% include rss.html %}</a> -->
                </div>
            </div>
        </div>
    </header>

    {% if author[1].exact_location %}
        <div class="author-exact-location-outer">
            <div class="author-exact-location">
                <!-- <span itemprop="name" class="p-locality">{{ author.location | newline_to_br }}</span> -->
    
                <div>
                    <h3>Author Exact Location</h3>

                    <p>
                        Setting a new standard in accountable journalism, our author pages now feature precise, real-time location tracking. This groundbreaking transparency allows readers to directly engage with our writers, setting us apart from other, lesser news sources that often hide behind anonymity. Never us- we stand ready to defend our work at any moment.
                    </p>
                </div>

                <div style="display: flex; flex-direction: row; gap: 16px">
                    <div class="width: 80%;">
                        <h4 style="margin: 0">Live Location</h4>
                        <span itemprop="name" class="p-locality" style="width: 600px"></span>
                    </div>

                    <div class="width: 20%;">    
                        <h4 style="margin: 0">Directions</h4>

                        <!-- Link icon -->
                        <a href="" class="google-maps-link">
                            <i class="fas fa-fw fa-link" aria-hidden="true"></i>
                            Google Maps (direct)
                        </a>

                        <br />
            
                        <a href="" class="google-maps-link-sword">
                            <i class="fas fa-fw fa-link" aria-hidden="true"></i>
                            Google Maps (stop at sword shop on the way)
                        </a>
                    </div>

                </div>
                
                <span class="icon" style="text-align: center;">{% include refresh.html %} <i class="p-updated"> </i></span>
    
                <script>
                    const url = "https://sam-get-location.nisala.workers.dev/?ppassword=akldsjfklajldkfjlkaadsf&key=location";
                    const pLocalityElement = document.querySelector(".p-locality");
                    const updatedElement = document.querySelector(".p-updated");
                    const link = document.querySelector('.google-maps-link');
                    const linkSword = document.querySelector('.google-maps-link-sword');
            
                    fetch(url)
                        .then(response => response.text())
                        .then(data => {
                            const formattedData = data.replace(/\n/g, " ");
                            pLocalityElement.innerHTML = formattedData;

                            // Pull out (updated %%)
                            const updatedRegex = /\(updated .+?\)/;

                            const updatedMatch = data.match(updatedRegex)[0];

                            updatedElement.innerHTML = updatedMatch;

                            // remove from data
                            pLocalityElement.innerHTML = pLocalityElement.innerHTML.replace(updatedRegex, "");
    
                            const latRegex = /Latitude:\s*(-?\d+\.\d+)/;
                            const lngRegex = /Longitude:\s*(-?\d+\.\d+)/;
    
                            const latMatch = data.match(latRegex);
                            const lngMatch = data.match(lngRegex);
    
                            const latitude = parseFloat(latMatch[1]);
                            const longitude = parseFloat(lngMatch[1]);
    
                            link.href  = `https://www.google.com/maps/dir/?api=1&destination=${latitude},${longitude}`;
    
                            linkSword.href = `https://www.google.com/maps/dir/?api=1&destination=${latitude},${longitude}&waypoints=Jalic Blades, 2011 Dayton Blvd, Chattanooga, TN 37415`;
                        })
                        .catch(error => {
                            console.error("Error fetching data:", error);
                        });
                </script>
            </div>
        </div>
    {% endif %}

    {% endif %}
{% endfor %}
<!-- /author -->

<!-- The main content area -->
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <div class="post-feed">
            <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
            {%  include post-card.html %}
        </div>

    </div>
</main>
